.contact-img {
  margin: 0 auto;
  height: 220px;
}

.contact-title {
  margin-top: 50px;
  margin-bottom: 69px;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}

.callback-input {
  padding: 16px 8px;
}
