.contact-img {
  margin: 0 auto;
  height: 220px;
}

.contact-text_container {
  padding-top: 50px;
  padding-bottom: 25px;
}

.contact-title {
  margin-bottom: 69px;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}

.callback-input {
  padding: 16px 8px;
  margin-bottom: 16px;
}

.callback-btn {
  margin-top: 8px;
  background: #28a745;
}
