.hero {
  margin: 0 auto;
  text-align: center;
}
.hero-title {
  display: inline-block;
  max-width: 270px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 16px;

  color: #ffffff;

  @media screen and (max-width: 300px) {
    font-size: 25px;
    line-height: 1.2;
  }
  @media screen and (min-width: 768px) {
    max-width: 530px;
  }
}

.hero-text {
  font-size: 26px;
  line-height: 1.23;
  text-align: center;
  margin-bottom: 24px;

  color: #ffffff;
  @media screen and (max-width: 300px) {
    font-size: 22px;
    line-height: 1.13;
  }
  @media screen and (min-width: 768px) {
    max-width: 530px;
  }
}

.hero-button {
  border: none;
  background: #28a745;
}

.button-icon {
  display: inline-flex;
  width: 10px;
  height: 12px;
  background-image: url(../images/nexf-button.png);
  background-repeat: no-repeat;
  background-size: contain;
  fill: #ffffff;
}
