.cases-container {
  text-align: center;
  padding-top: 56px;
  padding-bottom: 40px;
  background-color: #f4f4f4;
}

.cases-pre_text {
  margin-bottom: 16px;
  color: #333333;
}

.cases-title {
  display: inline-block;
  width: 220px;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}

.cases-text {
  margin-bottom: 24px;
}

.cases-card {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
