.cases__container {
  text-align: center;
  padding-top: 56px;
  padding-bottom: 40px;
  background-color: #f4f4f4;
  @media screen and (min-width: 768px) {
    padding-top: 48px;
  }
}

.cases__pre-text {
  margin-bottom: 16px;
  color: #333333;
}

.cases__title {
  display: inline-block;
  max-width: 220px;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
  @media screen and (min-width: 768px) {
    max-width: 300px;
  }
}

.cases__text {
  margin-bottom: 24px;
}

.cases__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -9px;
  }
}

.cases__card {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 9px) / 3);
    margin: 9px;
  }
}
