.cases-container {
  text-align: center;
  padding-top: 56px;
  padding-bottom: 40px;
}

.cases-pre_text {
  margin-bottom: 16px;
  color: #333333;
}

.cases-title {
  width: 219px;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}

.cases-text {
  margin-bottom: 24px;
}
