.blog-img {
  margin: 0 auto;
  // max-width: 480px;
  max-height: 220px;
  @media screen and (min-width: 320px) {
    max-height: 480px;
  }
}

.blog-text_container {
  background: #0284d0;
  padding-top: 48px;
  padding-bottom: 58px;
}

.blog-pre_text {
  margin-bottom: 16px;
  color: #ffffff;
}

.blog-title {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.blog-text {
  color: #ffffff;
  margin-bottom: 24px;
}

.blog-btn {
  display: flex;
  border: 1px solid #ffffff;
  background: #0284d0;
}
