.about-img {
  margin: 0 auto;
  height: 220px;
}

.about-text_container {
  background: #28a745;
  padding-top: 79px;
  padding-bottom: 79px;
}

.about-pre_text {
  margin-bottom: 16px;
  color: #ffffff;
}

.about-title {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.about-text {
  color: #ffffff;
  margin-bottom: 24px;
}

.about-btn {
  display: flex;
  border: 1px solid #ffffff;
}
