<section class="about">
  <img class="about-img" src="./images/home/people.jpg" alt="team" />
  <div class="container about-text_container">
    <p class="about-pre_text">What you are looking for</p>
    <h2 class="about-title">We provide bespoke solutions</h2>
    <p class="about-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button type="button" class="about-btn btn">Read More</button>
  </div>
</section>
