<section id="howitsmade" class="container cases__container">
  <p class="cases__pre-text">This is what we do</p>
  <h2 class="cases__title">Business Cases</h2>
  <p class="cases__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="cases__list list">
    <li class="cases__card">
      <img
        class="cases__img"
        src="./images/cases/cases1.jpg"
        srcset="./images/cases/cases1.jpg 1x, ./images/cases/cases1@2x.jpg 2x"
        alt="conference"
      />
    </li>
    <li class="cases__card">
      <img
        class="cases-card__img"
        src="./images/cases/cases3.jpg"
        srcset="./images/cases/cases3.jpg 1x, ./images/cases/cases3@2x.jpg 2x"
        alt="chart analysis"
      />
    </li>
    <li class="cases__card">
      <img
        class="cases-card__img"
        src="./images/cases/cases5.jpg"
        srcset="./images/cases/cases5.jpg 1x, ./images/cases/cases5@2x.jpg 2x"
        alt="handshake"
      />
    </li>
    <li class="cases__card">
      <img
        class="cases-card__img"
        src="./images/cases/cases7.jpg"
        srcset="./images/cases/cases7.jpg 1x, ./images/cases/cases7@2x.jpg 2x"
        alt="friendly staff"
      />
    </li>
    <li class="cases__card">
      <img
        class="cases-card__img"
        src="./images/cases/cases2.jpg"
        srcset="./images/cases/cases2.jpg 1x, ./images/cases/cases2@2x.jpg 2x"
        alt="computer work"
      />
    </li>
    <li class="cases__card">
      <img
        class="cases-card__img"
        src="./images/cases/cases4.jpg"
        srcset="./images/cases/cases4.jpg 1x, ./images/cases/cases4@2x.jpg 2x"
        alt="skyscrapers"
      />
    </li>
  </ul>
</section>
