<section class="container cases__container">
  <p class="cases__pre-text">This is what we do</p>
  <h2 class="cases__title">Business Cases</h2>
  <p class="cases__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="cases__list list">
    <li class="cases__card">
      <img class="cases__img" src="./images/cases/cases1.jpg" alt="team" />
    </li>
    <li class="cases__card">
      <img class="cases-card__img" src="./images/cases/cases3.jpg" alt="team" />
    </li>
    <li class="cases__card">
      <img class="cases-card__img" src="./images/cases/cases5.jpg" alt="team" />
    </li>
    <li class="cases__card">
      <img class="cases-card__img" src="./images/cases/cases7.jpg" alt="team" />
    </li>
    <li class="cases__card">
      <img class="cases-card__img" src="./images/cases/cases2.jpg" alt="team" />
    </li>
    <li class="cases__card">
      <img class="cases-card__img" src="./images/cases/cases4.jpg" alt="team" />
    </li>
  </ul>
</section>
