<section class="container cases-container">
  <p class="cases-pre_text">This is what we do</p>
  <h2 class="cases-title">Business Cases</h2>
  <p class="cases-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="cases-list list">
    <li class="cases-card">
      <img class="cases-img" src="./images/cases/cases1.jpg" alt="team" />
    </li>
    <li class="cases-card">
      <img class="cases-card_img" src="./images/cases/cases3.jpg" alt="team" />
    </li>
    <li class="cases-card">
      <img class="cases-card_img" src="./images/cases/cases5.jpg" alt="team" />
    </li>
    <li class="cases-card">
      <img class="cases-card_img" src="./images/cases/cases7.jpg" alt="team" />
    </li>
    <li class="cases-card">
      <img class="cases-card_img" src="./images/cases/cases2.jpg" alt="team" />
    </li>
    <li class="cases-card">
      <img class="cases-card_img" src="./images/cases/cases4.jpg" alt="team" />
    </li>
  </ul>
</section>
