<footer class="footer__container container">
  <ul class="footer__list list">
    <li class="footer__item">
      <a href="" class="link">
        <svg class="socnav__icon" width="35" height="35">
          <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="footer__item">
      <a href="" class="link">
        <svg class="socnav__icon" width="35" height="35">
          <use href="./images/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="footer__item">
      <a href="" class="link">
        <svg class="socnav__icon" width="35" height="35">
          <use href="./images/symbol-defs.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="footer__item">
      <a href="" class="link">
        <svg class="socnav__icon" width="35" height="35">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p class="footer__text">Copyright © 2021 - FinanceLedger</p>
</footer>
