<footer>
  <ul>
    <li>
      <a href="" class="link">
        <svg class="contacts-socnav__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="" class="link">
        <svg class="contacts-socnav__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="" class="link">
        <svg class="contacts-socnav__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="" class="link">
        <svg class="contacts-socnav__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p></p>
</footer>
