<header id="home" class="header header-imageHome">
  <div class="container header__container">
    <div id="test" class="navigation-blok">
      <a href="./index.html" class="header-logo__link link">
        <svg class="socnav__icon" width="35" height="35">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
        <span class="header-finance__span">Finance</span>Ledger</a
      >
      <nav class="header__nav">
        <ul class="header-nav__list list">
          <li class="header-nav__link">
            <a class="header-nav__item link" href="#home">Home</a>
          </li>
          <li class="header-nav__link">
            <a class="header-nav__item link" href="#about">About</a>
          </li>
          <li class="header-nav__link">
            <a class="header-nav__item link" href="#howitsmade">Cases</a>
          </li>
          <li class="header-nav__link">
            <a class="header-nav__item link" href="#products">Blog</a>
          </li>
          <li class="header-nav__link">
            <a class="header-nav__item link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <section class="hero">
      <h1 class="hero__title">The Sky Is The Limit</h1>
      <p class="hero__text">We provide world class financial assistance</p>
      <button type="button " class="hero__button btn">
        <svg class="button__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-right"></use>
        </svg>
        Read More
      </button>
    </section>
  </div>
</header>

<script>
  window.onscroll = function () {
    var header = document.getElementById('test');
    if (window.pageYOffset > 40) {
      header.classList.add('scrolled');
    } else {
      header.classList.remove('scrolled');
    }
  };
</script>
