<header class="header header-imageHome">
  <div class="container header__container">
    <nav class="header__nav">
      <a href="./index.html" class="header-logo__link link">
        <img
          class="header-logo__icon"
          src="./images/favicon.png"
          alt="logo-icon"
        />
        <span class="header-finance__span">Finance</span>Ledger</a
      >
      <ul class="header-nav__list list">
        <li class="header-nav__link">
          <a class="header-nav__item link" href="">Home</a>
        </li>
        <li class="header-nav__link">
          <a class="header-nav__item link" href="#about">About</a>
        </li>
        <li class="header-nav__link">
          <a class="header-nav__item link" href="#howitsmade">Cases</a>
        </li>
        <li class="header-nav__link">
          <a class="header-nav__item link" href="#products">Blog</a>
        </li>
        <li class="header-nav__link">
          <a class="header-nav__item link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <section class="hero">
      <h1 class="hero__title">The Sky Is The Limit</h1>
      <p class="hero__text">We provide world class financial assistance</p>
      <button type="button " class="hero__button btn">
        <svg class="button__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-right"></use>
        </svg>
        Read More
      </button>
    </section>
  </div>
</header>
