<section class="container team-container">
  <p class="team-pre_text">Who we are</p>
  <h2 class="team-title">Our Professional Team</h2>
  <p class="team-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="list">
    <li class="team-card">
      <img class="team-card_img" src="./images/team/person1.jpg" alt="team" />
      <p class="team-card_name">John Doe</p>
      <p class="team-card_job">President</p>
    </li>
    <li class="team-card">
      <img class="team-card_img" src="./images/team/person2.jpg" alt="team" />
      <p class="team-card_name">Jane Doe</p>
      <p class="team-card_job">Vice President</p>
    </li>
    <li class="team-card">
      <img class="team-card_img" src="./images/team/person3.jpg" alt="team" />
      <p class="team-card_name">Steve Smith</p>
      <p class="team-card_job">Marketing Head</p>
    </li>
  </ul>
</section>
