.about {
  @media screen and (min-width: 768px) {
    display: flex;
    min-width: 600px;
  }
  @media screen and (min-width: 1360px) {
    min-width: 1300px;
  }
}

.about__img {
  margin: 0 auto;
  @media screen and (max-width: 319px) {
    max-height: 220px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-height: 480px;
  }
  @media screen and (min-width: 768px) {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.about__text-container {
  background: #28a745;
  padding-top: 79px;
  padding-bottom: 79px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 62px;
  }
  @media screen and (min-width: 1360px) {
    padding-top: 80px;
    padding-bottom: 86px;
    width: 51%;
  }
}

.about__pre-text {
  margin-bottom: 16px;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.39;
  }
}

.about__title {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 1.38;
  font-weight: 400;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 48px;
  }
}

.about__text {
  color: #ffffff;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.39;
  }
}

.about__btn {
  display: flex;
  border: 1px solid #ffffff;
  background: #28a745;
  transition-property: border, background, color;
  transition-duration: 500ms;
  &:hover {
    border: 1px solid #28a745;
    background: #ffffff;
    color: #28a745;
  }
}
