.blog {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    min-width: 400px;
  }
  @media screen and (min-width: 1360px) {
    min-width: 1300px;
  }
}

.blog__img {
  margin: 0 auto;
  @media screen and (max-width: 319px) {
    max-height: 220px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-height: 480px;
  }
  @media screen and (min-width: 768px) {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.blog__text-container {
  background: #0284d0;
  padding-top: 48px;
  padding-bottom: 58px;
  @media screen and (min-width: 768px) {
    padding: 59px 32px;
  }
  @media screen and (min-width: 1360px) {
    padding-top: 80px;
    padding-bottom: 86px;
    width: 50%;
  }
}

.blog__pre-text {
  margin-bottom: 16px;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.39;
  }
}

.blog__title {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 1.38;
  font-weight: 400;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.35;
  }
}

.blog__text {
  color: #ffffff;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    width: 300px;
    font-size: 18px;
    line-height: 1.39;
  }
  @media screen and (min-width: 1360px) {
    width: 100%;
  }
}

.blog__btn {
  display: flex;
  border: 1px solid #ffffff;
  background: #0284d0;
}
