.footer__container {
  text-align: center;
  background-color: #333333;
  padding: 20px;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.footer__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.socnav__icon {
  fill: white;
  transition-property: fill;
  transition-duration: 500ms;
  &:hover {
    fill: #28a745;
  }
}

.footer__text {
  color: #ffffff;
}
