.header {
  height: 533px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media screen and (min-width: 768px) {
    height: 1024px;
  }
}

.header-imageHome {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/home/showcase.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../images/home/showcase@2x.jpg);
  }
}

.header__container {
  padding-top: 22px;
}

.navigation-blok {
  margin-bottom: 62px;
  @media screen and (min-width: 768px) {
    margin-bottom: 314px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media screen and (min-width: 1360px) {
    justify-content: space-between;
  }
}

.header-logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.35;
  margin-bottom: 16px;
  color: #ffffff;
  transition-property: transform, filter;
  transition-duration: 500ms;
  filter: opacity(100%);
  @media screen and (max-width: 300px) {
    font-size: 24px;
    line-height: 1.16;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 1.37;
  }
  &:hover {
    transform: scale(1.2);
    filter: opacity(80%);
  }
}

.header-logo__icon {
  width: 25px;
  height: 24px;
  margin-right: 8px;
}

.header-finance__span {
  color: #28a745;
  margin-right: 8px;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    width: 355px;
  }
  @media screen and (min-width: 1360px) {
    width: 500px;
  }
}

.header-nav__item {
  font-size: 16px;
  line-height: 1.37;
  color: #ffffff;
  position: relative;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.39;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -15px;
    left: 0;
    background-color: #28a745;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
  }
  &:hover::after {
    transform: scaleX(1);
  }
}
