.hero {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title {
  display: inline-block;
  max-width: 270px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 16px;

  color: #ffffff;

  @media screen and (max-width: 300px) {
    font-size: 25px;
    line-height: 1.2;
  }
  @media screen and (min-width: 768px) {
    max-width: 530px;
    font-size: 55px;
    line-height: 1.36;
  }
}

.hero__text {
  font-size: 26px;
  line-height: 1.23;
  text-align: center;
  margin-bottom: 24px;
  max-width: 300px;

  color: #ffffff;
  @media screen and (max-width: 300px) {
    font-size: 22px;
    line-height: 1.13;
  }
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.35;
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    max-width: 900px;
  }
}

.hero__button {
  border: none;
  background: #28a745;
  transition-property: filter;
  transition-duration: 500ms;
  &:hover {
    filter: opacity(80%);
  }
}

.button__icon {
  display: inline-flex;
  width: 10px;
  height: 12px;
  background-image: url(../images/nexf-button.png);
  background-repeat: no-repeat;
  background-size: contain;
  fill: #ffffff;
}
